/* line 5, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  font-family: sans-serif;
}

/* line 6, ../sass/screen.scss */
header {
  background-image: url("../images/header-bg.png");
  width: 100%;
  height: 128px;
}
/* line 10, ../sass/screen.scss */
header .logo {
  width: 138px;
  margin: 0 auto;
  background-color: #fff;
}
/* line 15, ../sass/screen.scss */
header .logo a {
  display: block;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  width: 99px;
  height: 134px;
  margin: auto;
}

/* line 24, ../sass/screen.scss */
nav#main-menu {
  border: solid 2px #006B41;
  margin: 20px auto;
  width: 74%;
  height: 65px;
}
/* line 30, ../sass/screen.scss */
nav#main-menu ul li {
  float: left;
  margin-left: 65px;
}
/* line 34, ../sass/screen.scss */
nav#main-menu ul li.selected, nav#main-menu ul li:hover {
  background-image: url("../images/main-menu-selected.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
/* line 44, ../sass/screen.scss */
nav#main-menu ul a {
  color: #006B41;
  font-size: 26px;
  display: block;
  padding: 20px;
}

/* line 53, ../sass/screen.scss */
.top-bold {
  text-align: center;
}
/* line 55, ../sass/screen.scss */
.top-bold p.top {
  font-size: 32px;
  font-family: arial;
  font-weight: bold;
  padding: 20px;
  width: 830px;
  letter-spacing: 1px;
  margin: 0 auto;
}
/* line 67, ../sass/screen.scss */
.top-bold p {
  font-size: 22px;
}

/* line 74, ../sass/screen.scss */
section#registration-form {
  width: 530px;
  margin: 35px auto 123px;
}
/* line 77, ../sass/screen.scss */
section#registration-form h1 {
  font-size: 27px;
  font-weight: bold;
  color: #EE2B2E;
}
/* line 84, ../sass/screen.scss */
section#registration-form .field-group {
  box-shadow: 5px 3px 10px #888888;
  border-radius: 5px;
  padding: 40px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}
/* line 91, ../sass/screen.scss */
section#registration-form .field-group .input-group {
  margin-top: 10px;
  height: 50px;
}
/* line 94, ../sass/screen.scss */
section#registration-form .field-group .input-group .label {
  float: left;
  width: 115px;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}
/* line 101, ../sass/screen.scss */
section#registration-form .field-group .input-group .field {
  float: left;
  width: 71%;
}
/* line 104, ../sass/screen.scss */
section#registration-form .field-group .input-group .field input[type="text"] {
  width: 95%;
}
/* line 109, ../sass/screen.scss */
section#registration-form .field-group input, section#registration-form .field-group select {
  padding: 10px;
  background-color: #ECECEC;
  border: none;
}
/* line 114, ../sass/screen.scss */
section#registration-form .field-group select {
  border-radius: 5px;
  width: 103px;
}
/* line 118, ../sass/screen.scss */
section#registration-form .field-group input[type=submit] {
  float: right;
  background-color: #EE2B2E;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  border-radius: 5px;
}
/* line 127, ../sass/screen.scss */
section#registration-form .field-group .cards {
  background-image: url(../images/cardsimg.png);
  height: 295px;
  width: 338px;
  display: block;
  position: absolute;
  margin: -126px -198px;
  z-index: -1;
}

/* line 138, ../sass/screen.scss */
footer {
  height: 152px;
  padding: 40px;
  background-color: #006B41;
}
/* line 142, ../sass/screen.scss */
footer nav {
  float: left;
  margin-left: 152px;
  color: #fff;
  font-size: 25px;
}
/* line 147, ../sass/screen.scss */
footer nav h1 {
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 152, ../sass/screen.scss */
footer nav ul li {
  margin-bottom: 5px;
}
/* line 154, ../sass/screen.scss */
footer nav ul li a {
  color: #fff;
  font-size: 22px;
}

/* line 165, ../sass/screen.scss */
a {
  text-decoration: none;
}

/*CSS3*/
/* line 170, ../sass/screen.scss */
.select {
  -moz-appearance: none;
  background: #fdfdfd url("../images/arrow-down.png") no-repeat scroll 87% center/15% auto;
  border: 1px solid #e9e9e9;
  border-radius: 1.2em !important;
  box-shadow: 0 0 1px #a0a0a0 inset;
  color: #404040;
  cursor: pointer;
  font-family: Arial,Calibri,Tahoma,Verdana;
  height: 38px;
  opacity: 0.7;
  padding: 0.2em 0.4em;
  vertical-align: middle;
  width: 100%;
}

/* line 185, ../sass/screen.scss */
.select option {
  font-size: 1em;
  padding: 0.2em 0.4em;
}

/* line 189, ../sass/screen.scss */
.select option[selected] {
  font-weight: bold;
}

/* line 192, ../sass/screen.scss */
.select option:nth-child(2n) {
  background-color: #f5f5f5;
}

/*To do remove*/
/* line 197, ../sass/screen.scss */
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
}

/* line 204, ../sass/screen.scss */
input[type=radio] {
  display: none;
}

/* line 207, ../sass/screen.scss */
label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ececec;
}

/* line 221, ../sass/screen.scss */
.radio label:before {
  border-radius: 10px;
}

/* line 225, ../sass/screen.scss */
input[type=radio]:checked + label:before {
  content: "\2022";
  color: #ee6c00;
  font-size: 42px;
  text-align: center;
  line-height: 20px;
}

/* line 233, ../sass/screen.scss */
input[type=checkbox] {
  display: none;
}

/* line 237, ../sass/screen.scss */
.checkbox label {
  font-size: 14px;
  letter-spacing: 1px;
}

/* line 242, ../sass/screen.scss */
.checkbox label:before {
  border-radius: 3px;
}

/* line 245, ../sass/screen.scss */
input[type=checkbox]:checked + label:before {
  content: "\2713";
  color: #ee6c00;
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  margin-top: 100px;
}
